.content .bungkus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 0 20px;
  gap: 20px;
}

@media only screen and (max-width: 798px) {
  .content .bungkus {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media only screen and (max-width: 560px) {
  .content .bungkus {
    /* display: block; */
    grid-template-columns: auto;
    /* gap: ; */
    padding: 0 10px;
    gap: 10px;
  }
}
